.App{
  width: 100vw;
  height: 100vh;
background-color: rgb(235, 235, 235);
}
.square{
  position: absolute;
  background-color: rgb(239 239 239);
  bottom: 80px;
  right: 80px;
  height: 600px;
  width: 350px;
  transition: all 2s;
}
.chatbutton{
  position: absolute;
  bottom: 10px;
  right: 30px;
  height: 50px;
  width: 50px;
  padding:5px;
  background-color: white;
  border-radius: 50%;
}
.chatbutton:hover{
  cursor: pointer;
}
.appBar{
  background-color: white;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
}
.appBar button{
  background-color: white;
  border-style: none;
}
.appBar button svg{
  width: 20px !important;
  height: 20px !important;
}
.appBar button:hover{
  cursor: pointer;
}
.appBar p{
  width: 100%;
  margin-right: 30px;
}
.appBar p span{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(20, 204, 20);
  border-radius: 50%;
}
.downBar{
  background-color: white;
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 94%;
  height: 50px;
  align-items: center;
  padding: 0px 10px ;
}
.downBar .message{
  width: 100%;
  height: 30px;
  border-style: none;
  margin: 0px 5px;
  padding: 0px 10px; 
}
.center{
  overflow: scroll;
  height: 500px;
  flex: 1 1 0%;
  overflow: hidden auto;
  padding: 10px 20px;
}
.myMessages{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 10px;
}
.myMessages img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.myMessage{
  width: auto;
  background-color: white;
  text-align: right;
  padding: 15px 20px;
  margin: 10px 0px;
  border-radius: 20px 0 20px 20px;
}
.myMessage p{
  margin: 0px;
}